@use "../abstracts" as *;

body {
    font-family: $base-font-family;
    color: $black;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        color: lighten($black, 40%);
    }
}

button {
    font-family: $base-font-family;
    font-size: 1rem;
}

