@use "../abstracts" as *;

.chats-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
}

.contacts {
    flex: 1;
    background-color: $lightgray;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: .5rem 1rem .5rem .7rem;
        margin-right: .5rem;

        &--active {
            background-color: $white;
            border-radius: 0 30px 30px 0;

            .contacts__name {
                font-weight: bold;
            }
        }
    }

    &__avatar {
        margin-right: 1rem;
        position: relative;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }

    &__online-indicator {
        position: absolute;
        font-size: 1.1rem;
        bottom: 4px;
        right: 1px;
        text-shadow: -2px 0 $lightgray, 0 2px $lightgray, 2px 0 $lightgray, 0 -2px $lightgray;
        color: hsl(120, 100%, 35%);
    }


    &__last-message {
        margin-left: auto;
    }

}

.conversation {
    flex: 3;
    display: flex;
    flex-direction: column;

    &__header {
        background-color: lighten($lightgray, 8%);
        border-bottom: 1px solid $lightgray;
        padding: 1rem 2rem;
    }

    &__online-status {
        margin-top: .5rem;
        font-size: .9rem;
        font-weight: $font-light;
    }

    &__feed {
        padding: 1rem 2rem;
        overflow-y: scroll;
    }

    &__composer {
        display: flex;
        margin-top: auto;
        padding: .6rem;
        background-color: lighten($lightgray, 8%);
        border-top: 1px solid $lightgray;

        form {
            display: inherit;
            width: 100%;
        }

        textarea {
            resize: none;
            width: 100%;
            line-height: 1;
            margin-right: .5rem;
            height: auto;
        }

        button {
            padding: 0 .5rem;
            background-color: gray;
        }
    }
}

.messages {
    list-style: none;
}

.message {
    padding: .3rem .5rem;
    display: flex;
    flex-direction: column;

    &__content {
        color: white;
        padding: .6rem 1rem;
        max-width: 70%;
        word-break: break-word;
        border-radius: 20px;
    }

    &--received {
        align-items: flex-start;

        .message__content {
            background-color: lighten($gray, 5%);
        }
    }

    &--sent {
        align-items: flex-end;

        .message__content {
            background-color: $primary;
        }
    }
}
