@use "../abstracts" as *;

.forgot-password-link {
    @include flex-center;
    padding: .5rem;

    a {
        font-size: .85rem;
        color: $clr-gray;

        &:hover {
            color: $clr-black;
        }
    }
}
