@use "../abstracts" as *;

.card {
    background:
        linear-gradient(lighten($lightgray, 6%), lighten($lightgray, 6%)) padding-box,
        $left-gradient border-box;
    border-top: 4px solid transparent;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);

    &__title {
        padding: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;

        h1 {
            margin: 0;
            font-weight: $font-normal;
        }
    }

    &__content {
        padding: 1rem;

        @include xxl-screen {
            padding: 1rem 2rem;
        }
    }
}

.form-card {
    width: 100%;

    @include s-screen {
        width: 75%;
    }

    @include m-screen {
        width: 65%;
    }

    @include l-screen {
        width: 60%;
    }

    @include xl-screen {
        width: 50%;
    }

    @include xxl-screen {
        width: 40%;
    }
}
