@use "../abstracts" as *;

.form {
    &__group {
        padding: .5rem 1rem;
        margin-bottom: 1rem;
    }

    &__input-group {
        position: relative;
    }

    &__input {
        padding: .5rem 1rem;
        border-radius: 15px;
        border: 1px solid darken($clr-lightgray, 15%);
        width: 100%;

        &:focus {
            border: 1px solid darken($clr-primary, 10%);
            outline: none;
        }

        &:focus ~ label, &:not(:placeholder-shown) ~ label {
            transform: translateY(-1.8rem) translateX(-.5rem);
            font-size: .8rem;
            color: darken($clr-primary, 10%);
        }

        &--invalid {
            border: 1px solid $clr-red;
        }
    }

    &__button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem 1rem 1rem;
    }

    &__label {
        position: absolute;
        left: 0;
        padding: .6rem 1rem;
        pointer-events: none;
        transition: 0.4s;
    }

    &__error {
        padding: 0 .5rem;
        color: $clr-red;
    }

    &__textarea {
        border-radius: 15px;
        border: 1px solid darken($clr-lightgray, 15%);
        padding: .4rem 1rem;

        &:focus {
            border: 1px solid darken($clr-primary, 10%);
            outline: none;
        }

        &--message {
            resize: none;
            width: 100%;
            line-height: 1;
            margin-right: .5rem;
            overflow: hidden;
        }
    }
}

.form-info {
    padding: 1rem 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type="password"] {
        letter-spacing: .2rem;
        -webkit-text-stroke-width: .1rem;
    }
}
