@use "../abstracts" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    min-height: 100px;
}

.logo {
    width: 250px;
}

.nav__item {
    a {
        color: rgba($white, 0.8);
        position: relative;
        transition: color .25s ease-out;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 100%;
            top: 115%;
            height: 3px;
            background-color: $white;
            transition: right .25s ease-out;
        }

        &:hover {
            color: rgba($white, 1);

            &:before {
                right: 0;
            }
        }

        &.router-link-active {
            color: rgba($white, 1);
        }
    }
}
