@use "../abstracts" as *;

.main {
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - #{$header-height});
    padding-bottom: 6rem;

    &--auth {
        min-height: calc(100vh - #{$auth-header-height});
        padding-bottom: 0;
    }

    &--hidden {
        display: none;
    }

    .container {
        @include flex-center;

        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 3rem 1.5rem;

        @include s-screen {
            padding: 3rem 3rem;
        }
    }
}
