@use "../abstracts" as *;

.main {
    padding-bottom: 3rem;
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 100px);

    &--p0 {
        padding-bottom: 0;
    }

    &--hidden {
        display: none;
    }

    .container {
        @include flex-center;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 3rem 1.5rem;

        @include s-screen {
            padding: 3rem 3rem;
        }
    }
}
