@keyframes bg-gradient-animation {
    0% {
        background-position: top;
    }
    100% {
        background-position: bottom;
    }
}

@keyframes typing-dots-blink {
    50% {
        opacity: 1;
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}
