@keyframes bg-gradient-animation {
    0% {
        background-position: top;
    }
    100% {
        background-position: bottom;
    }
}

@keyframes typing-dots-blink {
    50% {
        opacity: 1;
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes shake {
    0% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    80% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}

@keyframes fade-in {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
